%ic {
   font-family: 'icons';
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
   &:before {
      @extend %ic;
      display: block;
   }
}

._icon-arrow-right:before {
   content: '\e901';
   color: #f7fcff;
}
._icon-arrow-left:before {
   content: '\e907';
   color: #f7fcff;
}
._icon-arrow-down:before {
   content: '\e900';
}
._icon-discord:before {
   content: '\e902';
   color: #ff9f23;
}
._icon-question .path1:before {
   content: '\e903';
   color: rgb(206, 211, 214);
}
._icon-question .path2:before {
   content: '\e904';
   margin-left: -1em;
   color: rgb(85, 85, 85);
   opacity: 0.8;
}
._icon-telegram:before {
   content: '\e905';
   color: #ff9f23;
}
._icon-vk:before {
   content: '\e906';
   color: #ff9f23;
}
